@model BallonShop.Models.ProductViewModel.SubCategoryViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubCategoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainCategoryViewModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainCategoryViewModel.MainCategoryViewModelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubCategoryViewModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
